<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lau Station</title>
</head>
<body>
    <h1>Lau station</h1>
    <p>Music here</p>
    <button id="play">Play</button>
</body>
<script src="static/js/station.js" type="text/javascript"></script>
</html>